.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.title {
    width: 50vw;
    padding: 5vw 1vw;
    margin: auto;
}
.heading {
    font-size: 20vw;
    line-height: 15vw;
    letter-spacing: -0.04em;
    text-align: center;
    color: #ffac4a;
}
.text {
    width: 50vw;
    padding: 1vw 3vw 1vw 1vw;
    margin: auto;
}
.text p {
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    font-weight: 300;
}
.linkContainer {
    margin: 2em 0 1em 0;
}
.link {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    font-weight: 400;
}